/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(227, 112, 210);
    color: #fff;
}

.logo img {
    height: 50px;
}

nav {
    display: flex;
    padding: 15px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: rgb(230, 157, 219);
}

/* Menu Toggle Button for Mobile */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

@media (max-width: 768px) {
    nav {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    nav.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
    }

    .nav-links li {
        text-align: center;
        margin: 10px 0;
    }
}


/* codigo do main aqui para baixo */

.container-1{
    background-color: rgb(247, 244, 247);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-1-conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    gap: 50px;
}

.julia{
    border-radius: 60%;
    height: 300px;
    width: 300px;
}

.container-1-texto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
